[tool.black]
line-length = 80
target-version = [
  "py310",
  "py311",
]

[tool.isort]
profile = "black"
line_length = 80
single_line_exclusions = ["typing", "typing_extensions", "collections.abc"]
force_single_line = true
force_sort_within_sections = true
