--resource_prefix=psm-interop
--td_bootstrap_image=us-docker.pkg.dev/grpc-testing/trafficdirector/td-grpc-bootstrap:4ba99d77963c72d4973486ef2a3055913fdc2392

# The canonical implementation of the xDS test server.
# Can be used in tests where language-specific xDS test server does not exist,
# or missing a feature required for the test.
# TODO(sergiitk): Update every ~ 6 months; next 2025-01.
--server_image_canonical=us-docker.pkg.dev/grpc-testing/psm-interop/java-server:canonical-v1.65

--logger_levels=__main__:DEBUG,framework:INFO
--verbosity=0
